@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin:0%;
    padding:0%;
    font-family:'Open Sans', sans-serif;
}
.offcanvas-body{
    background-color:gray;
}
.offcanvas{
    background-color: gray;
}

.dropdown-menu{
    background: gray;
}
h5{
    text-decoration: underline;
    font-size: 40px;
}
p{
    font-size: 20px;
    text-align: center;
}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 5px solid #607d8b; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
.uma{
    text-align: justify;
    font-size: 90%;
}
#offcanvasNavbarLabel{
    text-decoration: none;
}
.duas{
    text-align:justify;
    font-size: 90%;   
}
img{
    width: 100%;
    vertical-align:;
}