@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding:0%;
    font-family:'Open Sans', sans-serif;
}
.offcanvas-body{
    background-color:#00D8F5;
}
.offcanvas{
    background-color: #00D8F5;
}
div ul li nav-link{
    background-color:#00D8F5;
}