@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding:0%;
    font-family:'Open Sans', sans-serif;
}
.offcanvas-body{
    background-color:#00D8F5;
}
.offcanvas{
    background-color: #00D8F5;
}
div ul li nav-link{
    background-color:#00D8F5;
}
.dropdown-menu{
    background: #00D8F5;
}
h5{
    text-decoration: underline;
    font-size: 40px;
}
p{
    font-size: 20px;
    text-align: center;
}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
.uma{
    text-align: justify;
    font-size: 90%;
}